# Aliases

# General utils
alias ls='ls -F --color=auto'
alias lal='ls -al'
alias grep='grep --color=auto'
alias rm='rm -i'

# System
alias poweroff='systemctl poweroff'
alias reboot='systemctl reboot'

alias battery='acpi -b'

# Dotfiles git
alias .git='git --work-tree=$HOME --git-dir=$HOME/.files.git'

# Internet
alias nctlhome='sudo netctl start buffalo'
alias nctlapt='sudo netctl start dlink'
alias nctlumn='sudo netctl start umnsecure'
alias nctlstop='sudo netctl stop-all'
alias pingtest='ping -c 4 www.google.com'

# Pacman
alias pacupg='sudo pacman -Syu'
alias pacinst='sudo pacman -S'
alias pacinfo='pacman -Qi'
alias pacorphans='pacman -Qdt'
